.lor-w6t8m2 {
  width: 30px;
}

@media (max-width: 300px) {
  .lor-w6t8m2 {
    width: 500px;
  }
}

.lor-w6t8m2:hover {
  width: 600px;
}

.lor-w6t8m2>div {
  width: auto;
}

@media (max-width: 500px) {
  .lor-w6t8m2>div {
    width: calc(100% - 10rem);
  }
}

.lor-w6t8m2>div>span {
  opacity: 0.5;
}